<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544941878007-go0mpmbb46a945chg1m8e55g3itc4v74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544941878007-go0mpmbb46a945chg1m8e55g3itc4v74</string>
	<key>API_KEY</key>
	<string>AIzaSyDlFYQop4Sm5Am12MSUsRcdvMFV_rZBGz8</string>
	<key>GCM_SENDER_ID</key>
	<string>544941878007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ciCdTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-ci-cd-8ced4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ci-cd-8ced4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544941878007:ios:69c12470e1743c703e01f2</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ci-cd-8ced4.firebaseio.com</string>
</dict>
</plist>